/* Banner principal */

/* #main_home{
    width: 1479px;
} */
x

#main_home .slider-item{
    width: 100%;
    height: 600px;
    object-fit: cover;
}


/* destaque */
#main_home  .destaque {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#main_home .destaque_conteudo {
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

#main_home  .destaque_conteudo img {
    padding-left: 25px;
    max-width: 650px;
    width: 100%;
}

#main_home .destaque_conteudo h2 {
    font-family: var(--font1);
    height: 190px;
    font-size: 40px;
    text-transform: uppercase;

}

#main_home .destaque p {
    font-family: var(--font1);
    color: var(--branco);
    font-size: 18px;
    padding-right: 40px;
}

/* comentarios */

#main_home .comentarios {
    display: flex;
    background-color: #FBC02C;
    width: auto;
    height: 670px;
    flex-direction: column;
    padding: 0px 10px 10px;
    margin-top: 5%;
}

#main_home .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

#main_home .container_conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarelo);

}

#main_home .container img {
    margin: 31px;
    max-width: 165px;
    width: 50%;
    background-color: var(--amarelo);
}

#main_home .container_conteudo div {
    font-family: var(--font1);
    text-align: center;
    background-color: var(--amarelo);
}

#main_home .container h3 {
    color: var(--preto);
    font-weight: 200;
    font-size: 48px;
    line-height: 52px;
    background-color: var(--amarelo);
}

#main_home .container p {
    color: var(--preto);
    font-style: italic;
    font-size: 25px;
    line-height: 45px;
    background-color: var(--amarelo);
}

/* texto */

#main_home  h2,
h3 {
    font-family: var(--font1);
    color: var(--amarelo);
    text-align: center;
}

#main_home  h2 {
    margin-top: 12%;
    font-size: 50px;
    height: 90px;
}

#main_home h3 {
    color: var(--amarelo);
    font-size: 20px;
    margin-top: 20px;
}

#main_home  span {

    color: var(--amarelo);
    font-size: 25px;
    text-align: center;
}

  /* SWIPER */

.swipercard {
    color: #FBC02C;
    max-width: 1400px;
    width: 100%;
}
.swiper-slide-card {
    width: 220px;
    padding: 55px;
}

.swiper-wrapper {
    gap: 30px;
}

.swiper-button-next, 
.swiper-button-prev, 
.swiper-pagination{
    background: transparent;
}
    




/*  RESPONSIVO */
@media screen and ( max-width: 1440px) {
    #main_home  .banner_texto > p,img, span{
        text-decoration: none
    }
}

@media screen and (max-width: 1200px) {
    #main_home  .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }
    #main_home  .banner_img {
        display: none;    
    }

    #main_home  .banner_texto {
        width: 100%;
    }

    #main_home  .destaque {
        display: none;
    }

    #main_home .container_conteudo {
        flex-direction: column;
    }

    #main_home  .comentarios {
        margin-top: 10%;
        height: auto;
    }

    /* .responsivo{
        display: none;
    } */
}






@media screen and (max-width: 1199px) {
  
    /* #main_home  .banner_img {
       


    } */
}




@media screen and (max-width: 895px) {
    #main_home  .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    #main_home  button[type="submit"]{
        display: none;
    }

    /* #main_home  .banner_img {


       
        background-image: url('../../assets/img/banner/av.jpg');
        width: 100%;


    } */
}







@media screen and (max-width: 768px) {
    #main_home  .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    #main_home  #divBusca {
        display: none;
    }

    #main_home  header nav{
        width: 260px;
    }

    #main_home  h2{
        font-size: 35px;
        height: 100px;
    }

    #main_home  .container{
        margin-top: 40px;
    }

}

@media screen and (max-width: 500px) {
    #main_home  .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    #main_home  .container h3{
        font-size: 40px;
    }

    #main_home  .container p{
        font-size: 20px;
    }

    #main_home ul{
        display: none;
    }

    #main_home .input-submit{
        margin-left: 38%;
        font-size: 13px;
        width: 25%;
    }
}